<h3>Detalles del empleado</h3>
<div>
    <div>
        <label><b>ID: </b> {{producto.id}}</label>
    </div>
    <div>
        <label><b>Nombre: </b> {{producto.nombre}}</label>
    </div>
    <div>
        <label><b>Precio: </b>$ {{producto.precio}}</label>
    </div>
    <div>
        <label><b>Cantidad: </b> {{producto.cantidad}}</label>
    </div>
    <div>
        <label><b>Imagen: </b></label>
        <img [src]="'http://localhost:8080/api/productos/uploads/' + producto.imageUrl" alt="imagen" width="300"
            height="300">
    </div>
</div>